<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905497530926-q55v1j9o5ridnqp2a9s8pvb5u4vq2qqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905497530926-q55v1j9o5ridnqp2a9s8pvb5u4vq2qqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDKsdSMFl816DMGh-o4_De7DJm10_krczo</string>
	<key>GCM_SENDER_ID</key>
	<string>905497530926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.makeitappen.wala</string>
	<key>PROJECT_ID</key>
	<string>wala-ae479</string>
	<key>STORAGE_BUCKET</key>
	<string>wala-ae479.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905497530926:ios:497d9fc77aadc296f685bf</string>
	<key>DATABASE_URL</key>
	<string>https://wala-ae479.firebaseio.com</string>
</dict>
</plist>